.Details {
    display: inline-flex;
    margin: 20px 150px 20px 150px;
}
    .Details .Image-Product{
        max-width: max-content;
        max-height: max-content;
    }
        .Details .Image-Product img {
            width: 450px;
            height: 650px;
        }
    .Details .Information-product{
        width: max-content;
        margin-left: 50px;
    }
        .Details .Information-product .Header-details{
            display: flex;
            justify-content: space-between;
        }
            .Details .Information-product .Header-details .Name-product{
                margin-right: 200px;
            }
            .Details .Information-product .Header-details .Name-product h2{
                font-family: Arial;
            }
            .Details .Information-product .Header-details .Name-product h4{
                font-family: Arial;
            }



        .Details .Information-product .product-promotion {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 2px dashed #155BF6;
            margin-top: 30px;
            position: relative;
        }
            .Details .Information-product .product-promotion .product-prodomtion-heading {
                margin-bottom: 8px;
                font-family: Arial;
                font-size: 16px;
                font-weight: 700;
                padding: 5px 10px;
                color: #155BF6;
                background: #fff;
                position: absolute;
                top: -40px;
            }

        .Details .Information-product .form-buy{
            max-width: 100%;
        }
        .Details .Information-product .form-buy .select {
            display: inline-flex;
            align-items: center;
        }
            .Details .Information-product .form-buy .select .quantity {
                display: flex;
                align-items: center;
                border: 1px solid #ccc;
                border-radius: 5px;
                width: 100px;
                justify-content: space-between;
                padding: 5px;
            }

                .Details .Information-product .form-buy .select .quantity button {
                    background-color: transparent;
                    border: none;
                    font-size: 18px;
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    outline: none;
                }

                .Details .Information-product .form-buy .select .quantity input {
                    width: 30px;
                    text-align: center;
                    border: none;
                    font-size: 16px;
                    outline: none;
                }
            .Details .Information-product .form-buy .select .btn-buy {
                margin-left: 30px;
                border: 1px solid black;
                padding: 5px 100px 5px 100px;
            }
            .Details .Information-product .form-buy .btn-buynow {
                margin-top: 10px;
                text-align:center;
                border: 1px solid black;
                padding: 10px 100px 10px 100px;
            }
