.info-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.info-item {
    display: flex;
    align-items: center;
    text-align: left;
}

    .info-item img {
        width: 50px; /* Adjust size as needed */
        height: 50px;
        margin-right: 10px;
    }

.info-text h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.info-text p {
    margin: 0;
    font-size: 14px;
    color: #666;
}
