.bodyFrame {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px 40px;
    max-width: 50vh;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

p {
    text-align: center;
    color: #666;
}

    p a {
        color: #3498db;
        text-decoration: none;
    }

        p a:hover {
            text-decoration: underline;
        }

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
}

    input:focus {
        border-color: #3498db;
    }

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

    .forgot-password a {
        color: #3498db;
        text-decoration: none;
    }

        .forgot-password a:hover {
            text-decoration: underline;
        }

.login-button {
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .login-button:hover {
        background-color: #333;
    }
