.body{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
}
    .body .login-container {
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0px 20px 0px;
    }
    .body .login-container h2{ 
        margin: 0;
        padding: 0;
        font-family: Arial;
        font-weight: bold;
    }
    .body .login-container p{
        margin: 0;
        padding: 0;
        font-family: Arial;
        font-weight: lighter;
    }

        .body .login-container a {
            color: blue;
        }
        .body .login-container form .form-email-password label {
            margin: 20px;
        }
        .body .login-container form .form-email-password label span {
            color: red;
        }
        .body .login-container form .form-email-password input {
            width: 500px;
            height: 35px;
        }
        .body .login-container form .login-button {
            width: 500px;
            height: 35px;
        }