body {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

    body .container-signin {
        display: grid;
        text-align: center;
        background-color: blueviolet;
        border: 1px solid black;
        padding: 0px 50px 20px 50px;
    }

        body .container-signin input {
            margin: 5px 0px 5px 0px;
            background-color: #eee;
            padding: 10px 15px;
            font-size: 13px;
            border-radius: 8px;
            width: 100%;
            outline: none;
        }
