.Order-Account {
    width: 100%;
    margin: 20px 0px 20px 0px;
    position: relative;
    display: flex;
}
    .Order-Account .content1 {
        width: max-content;
        margin: 0px 80px 80px 80px;
    }

        .Order-Account .content1 .Order-content-left .order {
            color: blue;
        }
    .Order-Account .content2 {
        width: 70%;
        position: relative;
        height: max-content;
    }
        .Order-Account .content2 .Order-content-right h2 {
            border-bottom: 1px solid black;
        }
