.product-list{
    display: flex;
    margin: 10px 0px 10px 10px;
}
    .product-list .search-content {
        width: 300px;
        height: max-content;
        background-color: black;
        border-radius: 10px;
        padding-bottom: 15px;
    }
        .product-list .search-content h2 {
            color: white;
            font-size: 30px;
            font-family: Arial;
            font-weight: bold;
            text-align: center
        }
        .product-list .search-content .filter {
            display: grid;
            flex-wrap: wrap;
        }
            .product-list .search-content .filter div {
                background-color: black;
                border-bottom: 1px solid #FFC0CB;
                padding: 10px;
                color: white;
                font-family: Arial;
                font-size: 15px;
                transition: all 0.5s ease;
            }
                .product-list .search-content .filter div:hover {
                    color: black;
                    background-color: #FFC0CB;
                    border-bottom: 1px solid black;
                }
                .product-list .search-content .filter div span {
                    margin-left: 20px;
                }


                .product-list .content2 {
                    width: 70%;
                    margin-left: 20px;
                    position: relative;
                    height: max-content;
                }
            .product-list .content2 h2 {
                border-bottom: 2px solid black;
                font-family: Arial;
                font-weight: bolder;
            }

        .product-list .content2 .Product-Items {
            text-align: center;
        }
        .product-list .content2 .Product-Items {
            margin: 30px 25px 10px 25px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 60px
        }
            .product-list .content2 .Product-Items .item {
                max-width: max-content;
                display: grid;
                flex: 1 0 50%;
                border: 2px solid #FFC0CB;
                border-radius: 25px;
                padding: 8px;
            }
a.button {
    border-radius: 18px;
    margin-top: 10px;
    padding: 8px;
    background-color: #FFC0CB;
    border: none;
    transition: 0.5s ease;
    color: black;
    text-decoration: none;
    font-family: Arial;
}

    a.button:hover {
        background-color: #808080;
        color: white;
        font-weight: bold;
    }
                .product-list .content2 .Product-Items .item img {
                    width: 250px;
                    height: 300px;
                    transition: 1s ease;
                    border-radius: 25px;
                }
                    .product-list .content2 .Product-Items .item img:hover {
                        transform: scale(1.1);
                        border: 1px solid #FFC0CB;
                        border-radius: 360px;
                    }
                .product-list .content2 .Product-Items .item h5 {
                    font-size: 15px;
                    font-family: Arial;
                    font-weight: bold;
                    margin: 10px 0px 5px 0px;
                    padding: 0;
                }
        

            



    