
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KidMartStore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Layout/Header.css" />
    <link rel="stylesheet" href="~/Content/Layout/Main.css" />
</head>
<body>
    <div class="above-header">
    </div>
    <header>
        <nav class="accordion-header-toggle-left">
            <a href="#">HOME</a>
            <a href="#">PRODUCT</a>
            <a href="#">SALES</a>
            <a href="#">CONTACT</a>
            <a href="#">INTRODUCE</a>
        </nav>
        <div class="align-middle"><h1>KIDMART</h1></div>
        <nav class="accordion-header-toggle-right">
            <input type="search" id="search" class="search"/>
            <a href="/Account/Login"><img src="~/Image/user-icon.png" /></a>
            <a><img src="~/Image/bell-icon.png" /></a>
        </nav>
    </header>
    <main class = "bodyFrame">
        @RenderBody()
    </main>
    <footer>
        <h2>XIN CẢM ƠN ĐÃ SỬ DỤNG DỊCH VỤ</h2>
    </footer>
</body>
</html>

