
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KidMartStore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Layout/Header.css" />
    <link rel="stylesheet" href="~/Content/Layout/Main.css" />
    <style>
        header {
            transition: all 0.5s ease;
        }

            header.scrolled {
                top: 0;
                height: 14vh;
                background-color: #FFC0CB; /* Màu thay đổi khi cuộn */
                padding: 10px; /* Giảm chiều cao khi cuộn */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Thêm bóng đổ */
            }
    </style>
</head>
<body>
    <div class="above-header">
        <nav class="Logo-text" style="margin-left: 50px">
            <a href="~/Home/Index"><h3>KidMart</h3></a>
        </nav>
        <nav class="Location-function" style="margin-right:30px">
            <a style="color: white; text-decoration:none" href="#"><img src="~/Image/icon-search-white.png" style="width:32px; height: 32px"/></a>
            <a style="color: white; text-decoration:none" href="#"><img src="~/Image/icon-cart-white.png" style="width:32px; height: 32px; margin-right:5px"/></a>
            <a style="color: white; text-decoration:none" href="~/Account/Login">Sign in</a>
            <a style="color: white; text-decoration:none">/</a>
            <a style="color: white; text-decoration:none" href="~/Account/Login">Sign up</a>
        </nav>
    </div>
    <header id="mainHeader">
        <div></div>
        <nav class="accordion-header-toggle-left">
            <a href="~/Home/Index">Trang chủ</a>
            <a href="#">Giới thiệu</a>
            <a href="#">Sản phẩm</a>
            <a href="#">Blog</a>
            <a href="#">Liên hệ</a>
            <a href="#">Kiểm tra đơn hàng</a>
        </nav>
        <div></div>
    </header>
    <main class = "bodyFrame">
        @RenderBody()
    </main>
    <footer>
        <h2>Cảm ơn đã sử dụng dịch vụ của chúng tôi nhe !!!</h2>
    </footer>
    <script>
        // Lấy phần tử header
        const header = document.getElementById('mainHeader');

        // Thêm sự kiện khi cuộn trang
        window.onscroll = function () {
            if (window.scrollY > 50) { // Khi cuộn quá 50px
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        };
    </script>
</body>
</html>

