
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KidMartStore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Layout/Header.css" />
    <link rel="stylesheet" href="~/Content/Layout/Main.css" />
</head>
<body>
    <div class="above-header" style="height: 6vh ;display:flex; justify-content: space-between; align-items:center">
        <nav class="Logo-text" style="margin-left: 50px">
            <h3 style="color:white">KidMart</h3>
        </nav>
        <nav class="Location-function" style="margin-right:30px">
            <a style="color: white; text-decoration:none" href="~/Account/Login">Sign in</a>
            <a style="color: white; text-decoration:none">/</a>
            <a style="color: white; text-decoration:none" href="~/Account/Login">Sign up</a>
        </nav>
    </div>
    <header style="height: 10vh">
        <div></div>
        <nav class="accordion-header-toggle-left">
            <a style="color: black; font-family: Arial; margin: 0px 15px 0px 15px " href="~/Home/Index">HOME</a>
            <a style="color: black; font-family: Arial; margin: 0px 15px 0px 15px "  href="#">PRODUCT</a>
            <a style="color: black; font-family: Arial; margin: 0px 15px 0px 15px "  href="#">SALES</a>
            <a style="color: black; font-family: Arial; margin: 0px 15px 0px 15px "  href="#">CONTACT</a>
            <a style="color: black; font-family: Arial;"  href="#">INTRODUCE</a>
        </nav>
        <div></div>
    </header>
    <main class = "bodyFrame">
        @RenderBody()
    </main>
    <footer>
        <h2>XIN CẢM ƠN ĐÃ SỬ DỤNG DỊCH VỤ</h2>
    </footer>
</body>
</html>

