<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KidMartStore</title>
    <link rel="stylesheet" href="~/Content/Layout/AdminLayout.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="sidebar">
        <h2>Quản trị viên</h2>
        <ul>
            <li><a href="../User/Login.html">Dashboard</a></li>
            <li>
                <a>Người dùng</a>
                <ul class="sub-menu">
                    <li><a href="../User/Register.html">Danh sách người dùng</a></li>
                    <li><a href="../User/AddUser.html">Thêm người dùng</a></li>
                    <li><a href="#">Chỉnh sửa người dùng</a></li>
                    <li><a href="#">Xóa người dùng</a></li>
                </ul>
            </li>
            <li>
                <a>Sản phẩm</a>
                <ul class="sub-menu">
                    <li><a href="../User/product.html">Danh sách sản phẩm</a></li>
                    <li><a href="#">Thêm sản phẩm</a></li>
                </ul>
            </li>
            <li><a href="../User/donhang.html">Đơn hàng</a></li>
            <li><a href="#">Báo cáo</a></li>
            <li><a href="#">Cài đặt</a></li>
            <li><a href="#">Quản lý Giới thiệu</a></li>
            <li><a href="../User/quanlysale.html">Quản lý Hình Quảng cáo</a></li>
            <li><a href="#">Quản lý Sale</a></li>
        </ul>
    </div>
    <div class="main-content">
        <header>
            <h1>Chào mừng đến với trang quản trị</h1>
            <div class="user-info">
                <span>Xin chào, Admin</span>
                <a href="#" class="logout">Đăng xuất</a>
            </div>
        </header>
        @RenderBody()
    </div>
</body>
</html>
