<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KidMartStore</title>
    <link rel="icon" href="~/Image/Avartar_Logo/Avarta-kidmart.png" style="width:32px;height:32px;"/>
<<<<<<< HEAD
    <link rel="stylesheet" href="~/Content/Layout/UserLayout.css" />
=======
    <link rel="stylesheet" href="~/Content/Layout/LayoutUser.css" />
>>>>>>> Laptop-My
</head>
<body>
    <div class="above-header">
        <nav class="Logo-text">
            <a href="~/Home/Index">KIDMART</a>
        </nav>
        <nav class="Location-function">
<<<<<<< HEAD
            @if (Session["Role"]?.ToString() == "Quản lý")
=======
            @if (Session["Role"]?.ToString() == "Quản Lý")
>>>>>>> Laptop-My
            {
                <a href="~/Admin/Dashboard">PageAdmin</a>
                <a style="cursor: default">|</a>
            }
<<<<<<< HEAD
            <a href="#"><img src="~/Image/Icons/icon-search.png" /></a>
            @if (Session["Email"] != null)
            {
                <a href="#"><img src="~/Image/Icons/icon-cart.png" /></a>
=======
            <a class="search" id="search"><img src="~/Image/Icons/icon-search.png" /></a>
            @if (Session["Email"] != null)
            {
                <a href="~/Product/GioHanng"><img src="~/Image/Icons/icon-cart.png" /></a>
>>>>>>> Laptop-My
                <a href="~/Home/Profile"><img src="~/Image/Icons/Icon-user.png" /></a>
                <a href="~/Home/Profile">Hello <span>@(Session["Name"] ?? "Guest")</span>!</a>
                <a href="~/Account/Logout">Logout</a>
            }
            @if (Session["Email"] == null)
            {
                <a href="#" id="Not-Login"><img src="~/Image/Icons/icon-cart.png" /></a>
                <a href="~/Account/Login">Sign in</a>
                <a style="cursor: default">/</a>
                <a href="~/Account/Register">Sign up</a>
            }
        </nav>
    </div>
    <header id="mainHeader">
        <div></div>
<<<<<<< HEAD
=======
        <div class="toolbar">
            <button id="menuToggle" class="menu-btn">☰</button>
        </div>
>>>>>>> Laptop-My
        <nav class="accordion-header-toggle">
            <a href="~/Home/Index">Trang chủ</a>
            <a href="~/Home/GioiThieu">Giới thiệu</a>
            <nav class="menu-product">
<<<<<<< HEAD
                <a style="align-items:center" href="~/Home/SanPham">Sản phẩm <span><img src="~/Image/down-arrow.png" style="width: 10px;height: 12px"/></span></a>
=======
                <a href="~/Home/SanPham">Sản phẩm <span><img src="~/Image/Icons/Icon-down-arrow.png" style="width: 10px;height: 12px" /></span></a>
>>>>>>> Laptop-My
                <div class="menu-content">
                    <div><a href="#">Quần áo</a></div>
                    <div><a href="#">Đồ chơi</a></div>
                    <div><a href="#">Sữa cho bé</a></div>
                    <div><a href="#">Học tập</a></div>
                    <div><a href="#">Tả của bé</a></div>
                    <div><a href="#">Dụng cụ khác</a></div>
                </div>
<<<<<<< HEAD
            </nav>       
            <a href="#">Blog</a>
            <a href="#">Liên hệ</a>
            <a href="#">Kiểm tra đơn hàng</a>
=======
            </nav>
            <a href="#">Blog</a>
            <a href="#">Liên hệ</a>
            <a href="~/Home/ShowOrder">Kiểm tra đơn hàng</a>
>>>>>>> Laptop-My
        </nav>
        <div></div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Địa chỉ</h3>
<<<<<<< HEAD
                    <p>Yên Lăng, Hà Nội</p>
                    <p>Điện thoại: 0822221992</p>
                    <p>Email: Midishop@gmail.com</p>
=======
                    <ul>
                        <li>Yên Lăng, Hà Nội</li>
                        <li>Điện thoại: 0822221992</li>
                        <li>Email: Midishop@gmail.com</li>
                    </ul>
>>>>>>> Laptop-My
                </div>
                <div class="col-md-4">
                    <h3>Chính sách</h3>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Kiểm tra đơn hàng</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Hổ trợ khách hàng</h3>
                    <ul>
                        <li><a href="#">Tìm kiếm</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Điều khoản dịch vụ</a></li>
                        <li><a href="#">Hướng dẫn kiểm tra đơn hàng</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Đăng ký nhận tin</h3>
                    <form class="form-input-email">
                        <input class="input-mail" type="email" placeholder="Nhập địa chỉ email">
                        <input type="submit" style="color: black; background-color: #FFC0CB; " value="Đăng ký"/>
                    </form>
                    <ul class="social" style="margin: 20px">
<<<<<<< HEAD
                        <li><a href="#"><i class="fab fa-facebook-f"><img src="~/Image/facebook-icon.png" /></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"><img src="~/Image/google-icon.png" /></i></a></li>
=======
                        <li><a href="#"><i class="fab fa-facebook-f"><img src="~/Image/Icons/icon-facebook.png" alt="facebook"/></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"><img src="~/Image/Icons/icon-google.png" alt="google"/></i></a></li>
>>>>>>> Laptop-My
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
<<<<<<< HEAD
            <a href="#"><img src="~/Image/logo_bct.png"/></a>
            <a href="#"><img src="~/Image/footer_trustbadge.png"/></a>
=======
            <a href="#"><img src="~/Image/Avartar_Logo/Logo_bct.png" alt="Logo bộ công thương"/></a>
            <a href="#"><img src="~/Image/Avartar_Logo/Logo-trustbadge.png" alt="Phương thức thanh toán"/></a>
>>>>>>> Laptop-My
        </div>
    </footer>
    <script>
        // Lấy phần tử header
        const header = document.getElementById('mainHeader');

        // Thêm sự kiện khi cuộn trang
        window.onscroll = function () {
<<<<<<< HEAD
            if (window.scrollY > 100) { // Khi cuộn quá 50px
=======
            if (window.scrollY > 60) { // Khi cuộn quá 50px
>>>>>>> Laptop-My
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        };
    </script>
    <script>
        document.getElementById('Not-Login').addEventListener('click', function () {
            // Kiểm tra xem người dùng có đăng nhập hay không
            if (!sessionStorage.getItem('isLoggedIn')) {
                alert('Bạn phải đăng nhập mới sử dụng được tính năng này! \nHãy đăng nhập tài khoản');
<<<<<<< HEAD
            }
        });
    </script>
=======
                window.location.href = '/Account/Login';
            }
        });
    </script>
    <script>
        document.getElementById('menuToggle').addEventListener('click', function () {
            const nav = document.querySelector('.accordion-header-toggle');
            nav.classList.toggle('active');
        });
    </script>
>>>>>>> Laptop-My
</body>
</html>

