
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewBag.Title = "Giới thiệu";
}
<link rel="stylesheet" href="~/Content/CSS/Introduce.css"/>

<main class="body">
    <section style="margin: 50px 0px 80px revert;">
        <h2>Giới thiệu</h2>
        <h4>Website chính thức và duy nhất của KidMartShop. Hiện tại chúng mình chỉ nhận đơn hàng trên website chứ không nhận bất kỳ nơi nào khác nhé!</h4>

        <h4>Nếu có ưu đãi cũng sẽ được thông báo công khai trên các kênh CHÍNH THỨC VÀ DUY NHẤT sau đây:</h4>

        <h4>Website : <a href="https://localhost:44369/Home/Index">https://shop.KidMart.com/</a></h4>

        <h4>Fanpage : <a href="https://www.facebook.com/MixiShop-182674912385853/">https://www.facebook.com/MixiShop-182674912385853/</a></h4>

        <h4>Instagram : <a href="https://www.instagram.com/mixi.shop/">https://www.instagram.com/mixi.shop/</a></h4>

        <h4>Email : <a>Kidmartstore@gmail.com</a></h4>

        <h4>MixiShop xin vui lòng được phục vụ quý khách!</h4>
    </section>
</main>

