@{
    Layout = "~/Views/Shared/_MasterLayoutUser.cshtml";
    ViewBag.Title = "Trang chủ";
}
@using X.PagedList.Mvc.Core;
<head>
    <link rel="stylesheet" href="~/Content/CSS/Index.css" />
    <link rel="stylesheet" href="~/Content/CSS/infor.css" />
    <link rel="stylesheet" href="~/Content/CSS/Slider.css" />
    <style>
        .ProductList .Product-Items {
            margin: 30px 25px 10px 25px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 60px
        }
        .ProductList .Product-Items .item {
            max-width: max-content;
            display: grid;
            flex: 1 0 50%;
            border: 2px solid #FFC0CB;
            border-radius: 25px;
            padding: 8px;
        }
            .ProductList .Product-Items .item button {
                border-radius: 18px;
                padding: 8px;
                background-color: #FFC0CB;
                border: none;
                transition: 0.5s ease;
            }
                .ProductList .Product-Items .item button:hover {
                    background-color: #808080;
                    color: white;
                    font-weight: bold;
                }
            .ProductList .Product-Items .item img {
                width: 250px;
                height: 300px;
                transition: 1s ease;
            }
                .ProductList .Product-Items .item img:hover {
                    transform: scale(1.1);
                    border: 1px solid #FFC0CB;
                    border-radius: 360px;
                }
    </style>
</head>
<body>
    <div class="firstContent" style="margin-top:80px">
        <nav class="selectForm">
            <h2>Danh Mục Hàng</h2>
            <div class="tab-content">
                <label>Quần áo</label>
                <label>Đồ chơi</label>
                <label>Đồ dùng cho bé</label>
                <label>Sữa cho bé</label>
                <label>Sữa cho bé</label>
                <label>Quần áo</label>
                <label>Đồ chơi</label>
                <label>Đồ dùng cho bé</label>
                <label>Sữa cho bé</label>
                <label>Sữa cho bé</label>
                <label>Đồ dùng cho bé</label>
                <label>Sữa cho bé</label>
                <label>Sữa cho bé</label>
            </div>
        </nav>
        <div class="slider" style="margin-left: 20px;">
            <div class="list">
                <div class="item">
                    <img src="~/Image/img1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/Image/img2.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/Image/img3.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/Image/img4.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/Image/img5.jpg" alt="">
                </div>
            </div>
            <div class="buttons">
                <button style="background-color: #000000; color: #fff;" id="prev"><</button>
                <button style="background-color: #000000; color: #fff;" id="next">></button>
            </div>
            <ul class="dots">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <script src="~/Content/JS/Slider.js"></script>
    </div>
    <div class="info-section">
        <div class="info-item">
            <img src="~/Image/policies_icon_1.png" alt="Shipping">
            <div class="info-text">
                <h3>Vận chuyển toàn quốc</h3>
                <p>Vận chuyển nhanh chóng</p>
            </div>
        </div>
        <div class="info-item">
            <img src="~/Image/policies_icon_2.png" alt="Offers">
            <div class="info-text">
                <h3>Ưu đãi hấp dẫn</h3>
                <p>Nhiều ưu đãi khuyến mãi hot</p>
            </div>
        </div>
        <div class="info-item">
            <img src="~/Image/policies_icon_3.png" alt="Quality">
            <div class="info-text">
                <h3>Bảo đảm chất lượng</h3>
                <p>Sản phẩm đã được kiểm định</p>
            </div>
        </div>
        <div class="info-item">
            <img src="~/Image/policies_icon_4.png" alt="Hotline">
            <div class="info-text">
                <h3>Hotline: 0789580048</h3>
                <p>Vui lòng gọi hotline để hỗ trợ</p>
            </div>
        </div>
    </div>
    <section class="ProductList" style="padding-bottom: 20px;">
        <h1>Danh sách sản phẩm</h1>
        <div class="Product-Items">
            <nav class="item">
                <img src="~/Image/Toys1.jpg" alt="Tên ảnh" style="" />
                <h4>Tên sản phẩm</h4>
                <h5>Giá sản phẩm</h5>
                <button>Mua Hàng</button>
            </nav>
            <nav class="item">
                <img src="~/Image/Toys1.jpg" alt="Tên ảnh" style="" />
                <h4>Tên sản phẩm</h4>
                <h5>Giá sản phẩm</h5>
                <button>Mua Hàng</button>
            </nav>
            <nav class="item">
                <img src="~/Image/Toys1.jpg" alt="Tên ảnh" style="" />
                <h4>Tên sản phẩm</h4>
                <h5>Giá sản phẩm</h5>
                <button>Mua Hàng</button>
            </nav>
            <nav class="item">
                <img src="~/Image/Toys1.jpg" alt="Tên ảnh" style="" />
                <h4>Tên sản phẩm</h4>
                <h5>Giá sản phẩm</h5>
                <button>Mua Hàng</button>
            </nav>
        </div>
    </section>
    <br />
    <section class="ProductList">
        <h1>Danh sách Sales</h1>
        <div class="Product-Items">
            <nav class="item">
                <img src="~/Image/Toys1.jpg" alt="Tên ảnh" style="" />
                <h4>Tên sản phẩm</h4>
                <h5>Giá sản phẩm</h5>
                <button>Mua Hàng</button>
            </nav>
        </div>
    </section>
</body>

