@{
    Layout = "~/Views/Shared/_MasterLayoutUser.cshtml";
    ViewBag.Title = "Trang chủ";
}
<head>
    <link rel="stylesheet" href="~/Content/CSS/Index.css"/>
</head>
<body>
    <div>
        <nav class="selectForm">
            <h2>CATEGORIES</h2>
            <div class="tab-content">
                <label>Quần áo</label>
                <label>Đồ chơi</label>
                <label>Đồ dùng cho bé</label>
                <label>Sữa cho bé</label>
            </div>
        </nav>
        <section class="advertisementForm">

        </section>
    </div>
</body>

