@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/116s/font-awesone/6.4.2/css/all.nin.css">
    <link rel="stylesheet" href="~/Content/CSS/Login.css">
</head>
<body>
    <div class="container" id="container">
        @using (Html.BeginForm("Login", "Home"))
        {
            <div class="form-container sign-up">
                <form action="/HomeController/Register()" method="post">
                    <h1>Create Account</h1>
                    <div class="social-icons">
                        <a href="#" class="icon"><img src="~/Image/google-icon.png" height="20px" width="20px"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="icon"><img src="~/Image/facebook-icon.png" height="20px" width="20px"><i class="fa-brands fa-google-plus-g"></i></a>
                    </div>
                    <span>or use your email for registeration</span>
                    <input type="text" id="nameRe" placeholder="Name Parrent">
                    <input type="email" id="emailRe" placeholder="Email">
                    <input type="password" id="passwordRe" placeholder="Password">
                    <button type="submit" id="btnSignUp">Sign Up</button>
                </form>
            </div>
        }
        <div class="form-container sign-in">
            <form>
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><img src="~/Image/google-icon.png" height="20px" width="20px"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><img src="~/Image/facebook-icon.png" height="20px" width="20px"><i class="fa-brands fa-google-plus-g"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="email" id="emailLog" placeholder="Email">
                <input type="password" id="passwordLog" placeholder="Password">
                <a href="#">Forget Your Password?</a>
                <button type="submit" id="btnSignIn">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Parrent</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/JS/Change.js"></script>
</body>
</html>