@model List<KidMartStore.Models.Order>
@{
    ViewBag.Title = "ShowOrder";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/CSS/Order.css" /> 
<main class="Order-Account">
    <div class="content1">
        <h2>Thông tin tài khoản</h2>
        <section class="Order-content-left">
            <h3>Xin chào <span>@(Session["Name"] ?? "Guest")!</span></h3>
            <a class="profile" href="~/Home/Profile">Thông tin tài khoản</a><br />
            <a class="address" href="~/Home/Address">Địa chỉ</a><br />
            <a class="order" href="~/Home/ShowOrder">Đơn hàng của bạn</a>
        </section>
    </div>
    <div class="content2">
        <section class="Order-content-right">
            <h2>Lịch sử đơn hàng</h2>
            <div class="content2">
                <table border="1">
                    <tr>
                        <td>Mã Order</td>
                        <td>Tên sản phẩm</td>
                        <td>Số lượng</td>
                        <td>Tên</td>
                    </tr>
                    @foreach (var List in Model)
                    {
                        <tr>
                            <td>@List.ID_Order</td>
                            <td>@List.Status</td>
                            <td>Số lượng</td>
                            <td>Tên</td>
                        </tr>
                    }
                </table>
            </div>
        </section>
    </div>   
</main>



