.Infor-Account {
    width: 100%;
    margin: 20px 0px 20px 0px;
    position: relative;
    display: flex;
}

    .Infor-Account .content1 {
        width: max-content;
        margin: 0px 80px 80px 80px;
    }
        .Infor-Account .content1 .Information-content-left .profile {
            color: blue;
        }
    .Infor-Account .content2 {
        width: 70%;
        position: relative;
        height: max-content;
    }

        .Infor-Account .content2 .Information-content-right h2 {
            border-bottom: 1px solid black;
        }
        .Infor-Account .content2 .Information-content-right .SetPro{
            align-items:center;
            display: flex;
        }
            .Infor-Account .content2 .Information-content-right .SetPro .back{
                border: none;
                background-color: white;
                margin-right: 30px;
                text-decoration: underline;
            }
            .Infor-Account .content2 .Information-content-right .SetProfile {
                width: 250px;
                height: 30px;
                border: none;
                border-radius: 20px;
                background-color: #FFC0CB;
                transition: ease-in-out 0.5s;
            }
            .Infor-Account .content2 .Information-content-right .SetProfile:hover {
                background-color: black;
                color: white;
            }
        .Infor-Account .content2 .Information-content-right form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 300px;
        }
            .Infor-Account .content2 .Information-content-right form .button {
                width: 300px;
                height: 30px;
                border: none;
                border-radius: 20px;
                background-color: #FFC0CB;
                transition: ease-in-out 0.5s;
            }
                .Infor-Account .content2 .Information-content-right form .button:hover {
                    background-color: black;
                    color: white;
                }
.Information-User input[type="email"],
.Information-User input[type="text"],
.Information-User input[type="tel"],
.Information-User input[type="submit"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}