body{
    margin-top: 0;
    padding: 0;
    background-color: #fff;
}
@media only screen and (min-width: 320px) and (max-width: 860px) {
    
}
.above-header {
    position:relative;
    background-color: black;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .above-header a{
        text-decoration:none;
    }
    .above-header h3 {
        color: white;
        font-weight: bold;
    }

header {
    position: fixed;
    width: 100%;
    top: auto;
    height: 10vh;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #FFC0CB;
    transition: ease 0.5s;
    z-index: 1000;
}

    header .accordion-header-toggle-left a {
        position: relative;
        margin-left: 10px;
        font-size: large;
        font-weight: bolder;
        text-decoration: none;
        color: black;
        font-family: Arial;
        margin: 0px 15px 0px 15px;
        transition: 0.5s;
    }
        header .accordion-header-toggle-left a:hover{
            text-decoration: underline;
            color: #808080;
        }

        header .align-middle h1 {
            font-family: cursive;
        }

    header .accordion-header-toggle-right{
        display: flex;
        align-items:center;
    }

        header .accordion-header-toggle-right .search {
            margin-right: 10px;
        }

        header .accordion-header-toggle-right img {
            margin-right: 10px;
        }
footer {
    height: 130px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC0CB;
}
footer h2{
    color: black;
    font-family: Arial;
}


