
@{
<<<<<<< HEAD
    ViewBag.Title = "AddNewCategory";
=======
    ViewBag.Title = "Thêm loại sản phẩm mới";
>>>>>>> Laptop-My
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/Admin/AddNewProdcut.css" />
<section class="add-product-form">
    <h2>Thông tin sản phẩm</h2>
    <form action="/Admin/AddNewCategory" method="POST">
        <div class="form-group">
<<<<<<< HEAD
            <label for="product-name">Tên sản phẩm</label>
            <input type="number" id="product-name" name="ID_Category" required  min="1" step="1">
        </div>

        <div class="form-group">
            <label for="product-price">Giá</label>
            <input type="text" id="product-price" name="Name_Category" required>
        </div>

        <button type="submit" class="submit-button">Thêm loại sản phẩm</button>
        <button class="submit-button" onclick="window.location.href='ManagerCategory'">Danh sách sản phẩm</button>
=======
            <label for="product-price">Tên loại</label>
            <input type="text" id="product-price" name="Name_Category" required>
        </div>
        <button type="submit" class="submit-button">Thêm loại sản phẩm</button>
        <button class="submit-button" onclick="window.location.href='ManagerCategory'">Danh sách loại sản phẩm</button>
>>>>>>> Laptop-My
    </form>
</section>

