
@{
    ViewBag.Title = "Thêm loại sản phẩm mới";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/Admin/AddNewProdcut.css" />
<section class="add-product-form">
    <h2>Thông tin sản phẩm</h2>
    <form action="/Admin/AddNewCategory" method="POST">
        <div class="form-group">
            <label for="product-price">Tên loại</label>
            <input type="text" id="product-price" name="Name_Category" required>
        </div>
        <button type="submit" class="submit-button">Thêm loại sản phẩm</button>
        <button class="submit-button" onclick="window.location.href='ManagerCategory'">Danh sách loại sản phẩm</button>
    </form>
</section>

