    
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "ManagerPage";
}
<link rel="stylesheet" href="~/Content/Admin/Dashboard.css" />
<section class="cards">
    <div class="card">
        <h3>Tổng người dùng</h3>
        <p>1200</p>
    </div>
    <div class="card">
        <h3>Tổng sản phẩm</h3>
        <p>350</p>
    </div>
    <div class="card">
        <h3>Tổng đơn hàng</h3>
        <p>75</p>
    </div>
    <div class="card">
        <h3>Doanh thu</h3>
        <p>25,000,000 VNĐ</p>
    </div>
</section>

