@model KidMartStore.Models.Cart
@{
    ViewBag.Title = "GioHanng";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/CSS/Cart.css" />
@if (Session["Cart"] != null)
{
    <div class="cart-container">
        @foreach (var item in Model.Items)
        {
            <div class="cart-item">
                <div class="item-remove">x</div>
                <div class="item-image">
                    <img src="~/Image/Product/@item._product.Image" alt="Product Image">
                </div>
                <div class="item-details">
                    <p>@item._product.Name</p>
                    <span class="item-size">L</span>
                </div>
                <div class="item-price">@item._product.Price.ToString("N0") VNĐ</div>
                <div class="item-quantity">
                    <button>-</button>
                    <input type="text" value="1">
                    <button>+</button>
                </div>
            </div>
        }
        <div class="checkout">
            <h3>HẸN GIỜ CHECK ĐƠN</h3>
            <div class="check-time">
                <label for="check-date">Ngày nhận check đơn</label>
                <input type="date" id="check-date" value="2024-11-13">
            </div>
            <div class="check-time">
                <label for="check-time">Thời gian nhận check đơn</label>
                <select id="check-time">
                    <option>Chọn thời gian</option>
                    <option>08:00</option>
                    <option>12:00</option>
                    <option>16:00</option>
                </select>
            </div>
            <div class="total">
                <span>TỔNG CỘNG</span>
                <span class="total-amount">@Model.TotalMoney().ToString("N0") VNĐ</span>
            </div>
            <a href="/Product/CheckOut" class="checkout-button">Thanh Toán</a>
        </div>
    </div>
}
@if (Session["Cart"] == null)
            {
                <h1>Bajn chua co don hang nao ca ??</h1>
            }

