
@{
    Layout = "~/Views/Shared/_MasterLayoutUser.cshtml";
    ViewBag.Title = "Login";
}


<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/CSS/StyleLogin.css")" />
</head>
<main>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <form class="container">
            <h1 style="text-align:center">SIGN IN</h1>
            <div class="Email">
                <input type="email" name="Email" placeholder="Email" />
            </div>
            <div class="Password">
                <input type="password" name="Password" placeholder="Password" />
            </div>
                <a  href="#">quên mật khẩu?</a>
            <div>
                <input type="submit" class="btn" value="Login" />
            </div>
                <button class="btn">Register</button>
        </form>
    }
</main>
